/* mobile  device responsive */
@media screen and (max-width: 600px) {
    nav ul > li{
        display: none;
    }
    nav .fa-solid{
        display: block;
    }
    .logo h2{
        font-size: 24px;
    }
    /* banner section */
    .banner .banner-content .banner-explore{
        flex-direction: column;
    }
    .banner .banner-content .banner-explore input,select,button{
        width: 100%;
        
    }
    .banner .banner-content{
        width: 95%;
    }
/* popular tour */
    /* .popular-tour-container{
        flex-direction: column;
    } */
    .popular-tour-container > .popular-tour-content{
        flex-basis: 100%;
    }
    .popular-tour-container > .popular-tour-img{
        flex-basis: 100%;
    }
    /* chosing destination */
    .place-1{
        grid-column: 1/span 12;
        grid-row: 1/span 1;
      }
      .place-2{
        grid-column: 1/span 12;
        grid-row: 2/span 1;
      }
      .place-3{
        grid-column: 1/span 12;
        grid-row: 3/span 1;
      }
      .place-4{
        grid-column: 1/span 12;
        grid-row: 4/span 1;
      }
      .place-5{
        grid-column: 1/span 12;
        grid-row: 5/span 1;
      }
      .place-6{
        grid-column: 1/span 12;
        grid-row: 6/span 1;
      }
      .place-7{
        grid-column: 1/span 12;
        grid-row: 7/span 1;
      }
      .comn-style{
        grid-template-rows: repeat(7 , 1fr);
      }
      .comn-style h3{
        font-size: 1rem;
      }
      /* tour section */
      .owner-container{
        flex-direction: column;
        
      }
      .owner{
        margin-bottom: 90px;
      }
      .tour-tittle h2{
        font-size: 30px;
      }
      .tour-tittle p{
        width: 100%;
      }

      /* service section */
      .service-wrapper{
        grid-template-rows: repeat(3 , 1fr);
      }
      .service-1{
        grid-column: 1/span 12;
        grid-row: 1/span 1;
      }
      .service-2{
        grid-column: 1/span 12;
        grid-row: 2/span 1;
      }
      .service-3{
        grid-column: 1/span 12;
        grid-row: 3/span 1;
      }

      /* deals section */
      .deals-details{
        width: 100%;
    }
    .discount-content{
      justify-content: center;
      padding: 30px 12px;
    }
    .deals-content-2{
      justify-content: center;
    }
      /* newsletter section */

      .newsletter-wrap{
        grid-template-rows: repeat(2 , 1fr);
      }
      .newsletter-form{
        grid-column: 1/span 12;
        grid-row: 1/span 1;
      }
      .newsletter-image{
        grid-column: 1/span 12;
        grid-row: 2/span 1;
      }
      /* footer section */
     .footer-content{
        width: 100%;
     }

    /* media end */
}



/* medium screen responsive */
@media screen and (min-width:600px) and (max-width:992px){
    
    nav ul > li{
        display: none;
    }
    nav .fa-solid{
        display: block;
    }
    /* banner section */
    .banner .banner-content .banner-explore{
        flex-direction: column;
    }
    .banner .banner-content .banner-explore input,select,button{
        width: 100%;
        display: block;
    }
    .banner .banner-content{
        width: 90%;
    }
    /* popular tour */

    /* /* .popular-tour-container{
        flex-direction: column;
    } */
   .popular-tour-container > .popular-tour-content , .popular-tour-img{
        flex-basis: 100%;
    }
    .popular-tour-container > .popular-tour-img{
        flex-basis: 100%;
    }


    /* chosing destination */
    .place-1{
        grid-column: 1/span 6;
        grid-row: 1/span 1;
      }
      .place-2{
        grid-column: 7/span 6;
        grid-row: 1/span 1;
      }
      .place-3{
        grid-column: 1/span 6;
        grid-row: 2/span 1;
      }
      .place-4{
        grid-column: 7/span 6;
        grid-row: 2/span 1;
      }
      .place-5{
        grid-column: 1/span 6;
        grid-row: 3/span 1;
      }
      .place-6{
        grid-column: 7/span 6;
        grid-row: 3/span 1;
      }
      .place-7{
        grid-column: 1/span 12;
        grid-row: 4/span 1;
      }
      .comn-style{
        grid-template-rows: repeat(4 , 1fr);
      }
      .comn-style h3{
        font-size: 1rem;
      }

      /* tour section */
      .owner-container{
        flex-direction: column;
        
      }
      .owner{
        margin-bottom: 90px;
      }
      .tour-tittle h2{
        font-size: 30px;
      }
      .tour-tittle p{
        width: 100%;
      }

    /* service section */
    .service-wrapper{
        grid-template-rows: repeat(3 , 1fr);
      }
      .service-1{
        grid-column: 1/span 12;
        grid-row: 1/span 1;
      }
      .service-2{
        grid-column: 1/span 12;
        grid-row: 2/span 1;
      }
      .service-3{
        grid-column: 1/span 12;
        grid-row: 3/span 1;
      }

      /* deals section */
      .deals-details{
          width: 100%;
      }
      .discount-content{
        justify-content: center;
      }
      .deals-content-2{
        justify-content: center;
      }
       /* newsletter section */

       .newsletter-wrap{
        grid-template-rows: repeat(2 , 1fr);
      }
      .newsletter-form{
        grid-column: 1/span 12;
        grid-row: 1/span 1;
      }
      .newsletter-image{
        grid-column: 1/span 12;
        grid-row: 2/span 1;
      }

       /* footer section */
     .footer-content{
        width: 90%;
     }













    /* media end */
}